html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/about.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue|Comfortaa|Merriweather+Sans&display=swap")
        title About Us
    body
        include includes/header
        .container
            h1 The Runtime Terrors Team
            section.team-members
                .founder-one
                    img.founder-one-img(src="images/clark_roda.jpg", alt="Clark Roda")
                    h2 Clark Roda
                    h3 Founder
                    p.bio.
                        A Software Developer/Programmer who's both driven and self-motivated.
                        Constantly experimenting with new technologies and techniques.
                        Clark is passionate about delivering projects that exceed client expectations, and always strives to become better.
                .founder-two
                    img.founder-two-img(src="images/joshua_cheah.png", alt="Joshua Cheah")
                    h2 Joshua Cheah
                    h3 Founder
                    p.bio.
                        A Software Developer/Programmer Our technical go-to guy.
                        Josh is a multi-talented web master that doesn't mind building and coding websites,
                        and ensuring everything is running smoothly for our clients.
        include includes/footer