html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/index.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue|Comfortaa|Merriweather+Sans&display=swap")
        title Runtime Terrors
    body
        include includes/header
        .container
            .slogan
                img.slogan-pic(src="images/slogan_pic.jpg", alt="Slogan Pic")
            h2 We Develop And Offer These Services
            h3 Fully Functional Websites
            p.description.
                We develop and design user friendly sites by implementing the latest web design trends and techniques.
                We are making the design development phase more interesting. As in the case of any other creative disciplines,
                we also embrace the latest trends to serve our clients in the best way possible.
            h3 RESTFUL APIs
            p.description.
                We build services that break down a transaction to create a series of small modules.
                Each module addresses a particular underlying part of the transaction.
                REST specifies how data is presented to a client in a format that is convenient for the client.
                Data exchanges happen either in JSON or XML format. However, many APIs today return JSON data,
                so we will focus on that in this guide.
            h3 Windows and Mobile Applications
            p.description.
                Discover our cross-platform, cross-browser, high-performance, and cloud-ready web applications based on
                C#.NET Framework, C#.NET Core, and JavaScript/HTML5.
        include includes/footer