html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/projects.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue|Comfortaa|Merriweather+Sans&display=swap")
        title Projects
    body
        include includes/header
        .container
            h1 Here Are Some Work We Have Done
            h2 Dandy Brewing Company
            a(href="https://final-t-a-c-d.glitch.me/index.html" target="_blank")
                img.project-img(src="images/dandy_brewing_company.png", alt="Dandy Brewing Company")
            h2 Lyrics Site
            a(href="https://assignment-2-lyrics.glitch.me/" target="_blank")
                img.project-img(src="images/lyrics_site.png", alt="Lyrics Site")
            h2 RESTFUL API
            a(href="http://localhost:3000/event_registration" target="_blank")
                img.project-img(src="images/restful_api.png", alt="RESTFUL API")
        include includes/footer