body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(88, 255, 234, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Liu Jian Mao Cao', cursive;
}

table {
  margin: 0 auto;
  border: 3px solid #999;
  border-style: outset;
  border-radius: 10px;
  padding: 2.5px;
}
td {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  text-align: left;
  border: 3px solid #999;
  border-radius: 5px;
  border-style: inset;
  padding: 0.5rem;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

button:after {
  content: '';
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

button:focus {
  outline: 0;
}

div {
  text-align: center;
}
