* {
  margin: 0;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  padding: 25px;
}

h3 {
  font-size: 30px;
  padding: 10px;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

a {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
  text-decoration: none;
}

a:hover {
  color: cyan;
}

.header {
  background-color: #423c3c;
}

.logo:focus,
.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 1;
}

.logo {
  display: block;
  max-width: 100%;
}

.container {
  margin: auto;
  padding: 2em;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px 6px #757575;
}

.project-img {
  height: 600px;
  width: 1000px;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 5px 6px #000000;
}

.footer {
  height: 12em;
  font-family: 'Comfortaa', cursive;
  background: rgb(255, 119, 45);
  background: linear-gradient(
    90deg,
    rgba(255, 119, 45, 1) 33%,
    rgba(255, 0, 0, 1) 67%,
    rgba(255, 0, 0, 1) 100%
  );
}

.content {
  text-align: center;
  vertical-align: middle;
  line-height: 12em;
}
